<div id="<%= dom_id trabalhador %>">
  <p>
    <strong>Nome:</strong>
    <%= trabalhador.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= trabalhador.cpf %>
  </p>

  <p>
    <strong>Profissao:</strong>
    <%= trabalhador.profissao %>
  </p>

</div>
